<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "member_feedbacks", title: "Member Feedback Page", current_page: "Edit Member Feedback Page"} %>
<%= form_for(@member_feedback, as: @member_feedback, url: admin_member_feedback_path(@member_feedback), html: { method: :put, :class => "p-20" }) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">Member Feedback Page</h4>
        </div>
        <div class="panel-body">
          <div class="row">  
            <div class="form-group col-sm-12">
              <label for="reg_input_name">Section 1</label>
              <%=f.text_area :section_one, :class=>"form-control", id: "editorsection1", :required=>'required' %>
            </div>
          </div>
          <div class="row">  
            <div class="form-group col-sm-12">
              <label for="reg_input_name">Section 2</label>
              <%=f.text_area :section_two, :class => "form-control", id: "editorsection2", :required=>'required'  %>
            </div>
          </div>  
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= link_to "Cancel", :back, {:class=>"btn join_btn admin-submit-btn"} %>
              <%= f.submit "Submit", :class=>"btn join_btn admin-submit-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<% end %>

<script>
  CKEDITOR.replace('editorsection1', {
    height: 250,
    extraPlugins: 'colorbutton,colordialog'
  });
  CKEDITOR.replace('editorsection2', {
    height: 250,
    extraPlugins: 'colorbutton,colordialog'
  });
</script>            