<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "member_feedbacks", title: "Member Feedback Page", current_page: "Member Feedback Page"} %> 
<div class="content">
    <div class="panel panel-white">
       <div class="panel-heading admin-pannel">
        <%= link_to "Edit Member Feedback", edit_admin_member_feedback_path(@member_feedback.id), class: "join_btn admin-trading-btn" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Id.:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @member_feedback.id %></p>
                  </div>
                </div>
              </div>
              <div class="row">  
                <div class="form-group col-sm-12" >
                  <label class="col-sm-12 control-label text-muted admin_font">Description:</label>
                  <div class="form-group col-sm-12">
                    <p class="form-control-static"><%= @member_feedback.section_one.try(:html_safe) %><br/><%= @member_feedback.section_two.try(:html_safe) %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>  
