<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "footer_records", title: "Footer Text", current_page: "Edit Footer Text"} %>
<%= form_for(@footer_record, as: @footer_record, url: admin_footer_record_path(@footer_record.id), html: { method: :put, :class => "p-20" }) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">Edit Footer Text</h4>
        </div>
        <div class="panel-body">
          <div class="row">  
            <div class="form-group col-sm-6">
              <label for="reg_input_name" class="req">Copyright</label>
              <%=f.text_field :copyright, :class=>"form-control" %>
              <div class = "error error_msg"><%= @footer_record.errors.messages[:copyright][0] %></div>
            </div>
          </div>
          <div class="row">   
            <div class="form-group col-sm-12">
              <label for="reg_input_name" class="req">All Right Reserved Text:</label>
              <%=f.text_area :all_right_reserved, :class => "form-control",:required=>'required', id: 'all_right_editor'  %>
              <div class = "error error_msg"><%= @footer_record.errors.messages[:all_right_reserved][0] %></div>
            </div>
          </div> 
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= link_to "Cancel", :back, {:class=>"btn join_btn admin-submit-btn"} %>
              <%= f.submit "Submit", :class=>"btn join_btn admin-submit-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<% end %>

<script type="text/javascript">
CKEDITOR.replace( 'all_right_editor', {
      extraAllowedContent: 'style;*[id,rel](*){*}',
      extraPlugins: 'colorbutton,colordialog'
  } );
</script>
