<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "footer_records", title: "Footer Text", current_page: "Footer Text"} %>  
<div class="content">
    <div class="panel panel-white">
      <div class="panel-heading admin-pannel">
        <%= link_to "Edit Footer Text", edit_admin_footer_record_path(@footer_record), class: "join_btn admin-trading-btn" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Id.:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @footer_record.id %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Copyright:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @footer_record.copyright %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-12" >
                  <label class="col-sm-12 control-label text-muted admin_font">All Right Reserved Text:</label>
                  <div class="form-group col-sm-12">
                    <p class="form-control-static"><%= @footer_record.all_right_reserved.html_safe %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>  
