<div class="page-header">
  <div class="breadcrumb-line upper_header">
    <ul class="breadcrumb" style="height: 34px;">
      <li style="margin-top: 9px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "HOME", "/admin", :class=>"fa fa-home" %></li>
      <li><a href="/admin/attempts"><b>Attempts</b></a></li>
      <li class="active">View Attempt</li>
    </ul>
    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a></div>
  </div><br>
  <div class="content">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h6 class="panel-title">Team Attempt</h6>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted" style="font-size: 14px">Id.:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @attempt.id %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted" style="font-size: 14px">User:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @attempt.user.name %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label class="col-sm-5 control-label text-muted" style="font-size: 14px">Station:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@attempt.station.title %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted" style="font-size: 14px">Started:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@attempt.started %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label class="col-sm-5 control-label text-muted" style="font-size: 14px">Completed:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@attempt.completed %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label class="col-sm-5 control-label text-muted" style="font-size: 14px">Created At:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@attempt.created_at.strftime("%b %d, %Y %l:%M") rescue nil %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted" style="font-size: 14px">Updated At:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@attempt.updated_at.strftime("%b %d, %Y %l:%M") rescue nil %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>  

<style type="text/css">
  #header { 
      border-bottom: 1px solid #DDDDDD; 
  }
  .category-img-circular{
   width: 100px;
   height: 100px;
   background-size: cover;
   display: block;
   border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
  }
</style>