<% @payment_content = PaymentContent.last %>
<!-- Start Banner Area -->
<section class="organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Thanks for registering</h1>
        <nav>
          <div>
            <a>The cost of membership is currently <strong ><%= number_to_currency(@cost, unit: "£", precision: 0) %></strong>
              <%= membership_duration(@user) %> 
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="how-it-works about-box about-title marks-payment" id="how-it-works">
  <div class="container">
    <div class="account-inner-sec account"> 
      <div class="row">
        <div class="col-md-12">
          <%= simple_form_for(@user, html: {id: "edit-membership"}) do |f|   %>
            <div class="form-group" id="membership-plan-country-based">
              <%= render 'gocardless/membership_plan_country_wise', country_code: @country_code  %> 
            </div>
          <% end %>
        </div>
        
      </div>
      <div  class="row">
        <div class="col-md-6">
          <% unless session[:cost] %>
          <%= render 'gocardless/stripe' %>
          <% end %>
        </div>
      <div class="col-md-6">
         <%= render 'gocardless/paypal' %>
      </div>        
    </div>
  </div>
</section>
<style type="text/css">
  .payment-record-format{text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .account{padding-bottom: 40px;}
  .marks-payment{margin: 85px;}
  @media screen and (max-width: 575px){
    .marks-payment {
        margin: 0px !important;
    }}
</style>

<script type="text/javascript">
  $( window ).on("load", function() {
    latitude = ''
    longitude = '';
    if ("geolocation" in navigator){ //check geolocation available 
      //try to get user current location using getCurrentPosition() method
      navigator.geolocation.getCurrentPosition(function(position){ 
        latitude = position.coords.latitude
        longitude = position.coords.longitude
      });
    }else{
      console.log("Browser doesn't support geolocation!");
    }
    // country_value = $(".user-country-select").val();
    setTimeout(function() {
      $.ajax({
        type: "get",
        url: "/membership-select-country",
        data: { latitude: latitude, longitude: longitude },
      })
    }, 100);
  });
</script>

<script type="text/javascript">
  $(document).ready(function() { 
    $('input[type=radio]').change(function(){
      $('form#edit-membership').submit();
    });
  });
</script>
