<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "faqs", title: "FAQ", current_page: "View FAQ"} %> 
<div class="content">
    <div class="panel panel-white">
      <div class="panel-heading admin-pannel">
        <%= link_to "Edit FAQ", edit_admin_faq_path(@faq.id), class: "join_btn admin-trading-btn" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Id.:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @faq.id %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Title:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @faq.title %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-12" >
                  <label class="col-sm-12 control-label text-muted admin_font">Description:</label>
                  <div class="form-group col-sm-12">
                    <p class="form-control-static"><%= @faq.description.html_safe %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label class="col-sm-5 control-label text-muted admin_font">Created At:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@faq.created_at.strftime("%d-%m-%Y") rescue nil %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Updated At:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@faq.updated_at.strftime("%d-%m-%Y") rescue nil %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Status:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@faq.status %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>  
