<%= form_for @question_category, :url => url, :html => { :multipart => true, :class => "p-20" },  method: method do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">Category Question</h4>
        </div>
        <div class="panel-body">
          <div class="row">  
            <div class="form-group col-sm-6">
              <label for="reg_input_name" class="req">Title</label>
              <%=f.text_field :title, :class=>"form-control", :placeholder => "Enter Title" %>
              <div class = "error error_msg"><%= @question_category.errors.messages[:title][0] %></div>
            </div>
            <div class="form-group col-sm-6">
              <label for="reg_input_name" class="req">Number of Questions</label>
              <%=f.number_field :no_of_question, :class => "form-control",id: "cost", :placeholder => "Enter Number of Questions" %>
              <div class = "error error_msg"><%= @question_category.errors.messages[:no_of_question][0] %></div>
            </div>
          </div>  
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= f.submit "Save", :class=>"btn join_btn admin-submit-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
