<div class="page-header">
  <div class="breadcrumb-line upper_header">
    <ul class="breadcrumb" style="height: 34px;">
      <li style="margin-top: 9px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "HOME", "/admin", :class=>"fa fa-home" %></li>
      <li><a href="/admin/testimonials"><b>Testimonials</b></a></li>
      <li class="active">View Testimonial</li>
    </ul>
    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a></div>
  </div><br>
  <div class="content">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h6 class="panel-title">Team Testimonial</h6>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Id.:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @testimonial.id %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Author:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @testimonial.author %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Content:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @testimonial.content %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <label class="col-sm-5 control-label text-muted admin_font">Created At:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@testimonial.created_at.strftime("%b %d, %Y %l:%M") rescue nil %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Updated At:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@testimonial.updated_at.strftime("%b %d, %Y %l:%M") rescue nil %></p>
                  </div>
                </div>
              </div>
              
              <div id="header"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>  
