<%@feedbacks.each_with_index do |x,index|%>
  <tr>
    <td width="5%"><%= x.id %></td>
    <td width="20%"><%=link_to truncate(x.name, length:60), admin_feedback_path(x) %></td>
    <td width="15%"><%= truncate(x.description, escape: false, length:60) %></td>
    <td width="15%"><%= x.status %></td>
    <td width="10%"> 
      <%=link_to admin_feedback_path(x) do%>
        <span class="glyphicon glyphicon-eye-open"></span>
      <%end%>
      <%= link_to edit_admin_feedback_path(x) do|| %>
        <span class="glyphicon glyphicon-pencil" style="color:#1ab394"></span>
      <% end %>
      <%= link_to admin_feedback_path(x), data: { confirm: 'Are you sure you want to delete feedback ', "bootstrap-confirm": 'delete' }, method: :delete do|| %>
        <span class="glyphicon glyphicon-trash" style="color:red"></span>
      <% end %>
    </td>
  </tr>
<%end%>
<style>

.grid-view table.items td {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0.7em;
    padding-left: 1.2em;
    padding-right: 0.2em;
    color: #0b0b0b;
    text-align: left;
    font-weight: 900;
    font-size: 14px;
}
.img-circular{
 width: 80px;
 height: 80px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

 </style>


