<%= form_for @feedback, :url => url, :html => { :multipart => true, :class => "p-20" },  method: method do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">Feedback</h4>
        </div>
        <div class="panel-body">
          <div class="row">  
            <div class="form-group col-sm-12">
              <label for="reg_input_name" class="req">Name</label>
              <%=f.text_field :name, :class=>"form-control", :placeholder => "Enter Name" %>
              <div class = "error error_msg"><%= @feedback.errors.messages[:name][0] %></div>
            </div>
          </div>
          <div class="row">  
            <div class="form-group col-sm-12">
              <label for="reg_input_name" class="req">Description</label>
              <%=f.text_area :description, :class=>"form-control", id: "editor1", :placeholder => "Enter Description" %>
              <div class = "error error_msg"><%= @feedback.errors.messages[:description][0] %></div>
            </div>
          </div>
           <div class="row">  
            <div class="form-group col-sm-12">
              <label for="reg_input_name">Star Rating</label>
              <%= f.select :star_rating, [["One Star", "one_star"], ["Two Star", "two_star"], ["Three Star", "three_star"], ["Four Star", "four_star"], ["Five Star", "five_star"]], {}, {class: "form-control"} %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="reg_input_name">Status</label>
              <%= f.check_box :status %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= f.submit "Save", :class=>"btn join_btn admin-submit-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  CKEDITOR.replace('editor1', {
    height: 250,
    extraPlugins: 'colorbutton,colordialog'
  });
</script>  