<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "feedbacks", title: "Feedbacks", current_page: "Feedback List"} %>
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="grid-view table-responsive" id="student-grid">
        <table class="items">
          <thead>
            <tr>
              <th id="student-grid_c0"><%= sortable "id" %></th>
              <th id="student-grid_c2"><%= sortable "name" %></th>
              <th id="student-grid_c3"><%= sortable "description" %></th>
              <th id="student-grid_c3"><%= sortable "status" %></th>
              <th class="button-column" id="student-grid_c8">Action</th>
            </tr>
          </thead>
          <tbody class="hole-list">
            <%=render :partial=> "feedback_list"%>
          </tbody>
        </table>
        <%if @feedbacks.present?%>
          <%= render partial: "admin/paginations/pagination", locals: {all_data: @feedbacks} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
