%section.organic-breadcrumb.cat-breadcrumb
	.container
		.breadcrumb-banner.cat-banner.d-flex.flex-wrap.align-items-center.justify-content-end
			.col-first
				%h1= @category.name
%section.how-it-works.pt-done
	.container.theme-bg.question_bd_format
		.row
			.col-md-12
				#category_advice
					%h4 Overall score
					- percentage = @category.practice_correct_ans_percentage(@category.id, current_parta_user.id, @question.id, @question_type) rescue nil
					%section.account-inner-sec.cat-inner-section
						.bs-example
							%span
								.progress
									.progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@percentage}", :role => "progressbar", :style => "width: #{percentage}%;"}  #{percentage}%
- if @question									
	- if Parta::PracticeAnswer.all.where(question_id: @question.id, user_id: current_parta_user.id).present?
		%section.how-it-works.pt-done
			.container.theme-bg.question_bd_format
				.row
					.col-md-12
						#category_advice
							%h4 Question stats
							- all_dsdsusers = Parta::AnswersOption.all.where(question_id: @question.id)
							- alldsdsd_users = Parta::PracticeAnswer.all.where(question_id: @question.id)
							- all_users = (all_dsdsusers + alldsdsd_users).count
							- answers = @question.answers
							- correct_answer = @question.answers.where(correct: true).last
							- answers.order("id ASC").each_with_index do |ans, index|
								%div.parta-account-inner-sec
									- users_attempt_this_question = Parta::AnswersOption.where(question_id: @question.id, answer_id: ans.id)
									- practice_users_attempt_this_question = Parta::PracticeAnswer.where(question_id: @question.id, answer_id: ans.id)
									- how_many_users_attempt_this_question = (users_attempt_this_question + practice_users_attempt_this_question).count
									- actual_percentage = ((how_many_users_attempt_this_question.to_f/all_users.to_f)*100)
									- percentage = sprintf "%.2f", actual_percentage
									- if (correct_answer.id == ans.id)
										%span
											.progress
												.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{percentage}", :role => "progressbar", :style => "width: #{percentage}%; background-color: #5daf5d;"} #{('a'..'z').to_a[index].capitalize} :  #{percentage}% 
									- else
										%span
											.progress
												.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{percentage}", :role => "progressbar", :style => "width: #{percentage}%; background-color: #eb5555;"} #{('a'..'z').to_a[index].capitalize} : #{percentage}%
							%br/
							- answers.order("id ASC").each_with_index do |ans, index|
								- if (correct_answer.id == ans.id)
									- users_attempt_this_question = Parta::AnswersOption.where(question_id: @question.id, answer_id: ans.id)
									- practice_users_attempt_this_question = Parta::PracticeAnswer.where(question_id: @question.id, answer_id: ans.id)
									- how_many_users_attempt_this_question = (users_attempt_this_question + practice_users_attempt_this_question).count
									- actual_percentage = ((how_many_users_attempt_this_question.to_f/all_users.to_f)*100)
									- percentage = sprintf "%.2f", actual_percentage
									= "#{percentage}% of users answered this question correctly"
	%section.how-it-works.pt-done
		.container.theme-bg.question_bd_format
			%h4 Dashboard
			.grid-container2-prta.col-md-12
				- @index_values.each_with_index do |ques, index|
					- @dashboard_question = Parta::Question.find_by(id: ques)
					- dashboard_answers = @dashboard_question.answers
					- dashboard_correct_answer = @dashboard_question.answers.where(correct: true).last
					- dashboard_attempt_question = Parta::PracticeAnswer.where(question_id: @dashboard_question.id,user_id:current_parta_user.id).last rescue nil
					%a{:href => "/parta/categories/#{@category.id}/questions/#{@dashboard_question.id}/practice_all_question?question_type=#{@question_type}"}
						- if (@dashboard_question.id == @question.id)
							.grid-item2-parta{style: "background: #e8f0f2;"}
								= index + 1
								- if (dashboard_attempt_question.present?) && (dashboard_correct_answer.present?) && (dashboard_attempt_question.answer_id.present?) && (dashboard_attempt_question.answer_id == dashboard_correct_answer.id)
									%i.fa.fa-check{"aria-hidden" => "true", style: "color: green;"}
								- elsif (dashboard_attempt_question.present?) && (dashboard_correct_answer.present?) && (dashboard_attempt_question.answer_id.present?) && (dashboard_attempt_question.answer_id != dashboard_correct_answer.id)
									%i.fa.fa-times{"aria-hidden" => "true", style: "color: red;"}
								- else
									%i.fas.fa-question-circle
						- else
							.grid-item2-parta.ans_hover
								= index + 1
								- if (dashboard_attempt_question.present?) && (dashboard_correct_answer.present?) && (dashboard_attempt_question.answer_id.present?) && (dashboard_attempt_question.answer_id == dashboard_correct_answer.id)
									%i.fa.fa-check{"aria-hidden" => "true", style: "color: green;"}
								- elsif (dashboard_attempt_question.present?) && (dashboard_correct_answer.present?) && (dashboard_attempt_question.answer_id.present?) && (dashboard_attempt_question.answer_id != dashboard_correct_answer.id)
									%i.fa.fa-times{"aria-hidden" => "true", style: "color: red;"}
								- else
									%i.fas.fa-question-circle			

	%section.how-it-works.part-aquestion.pb-50
		.container.theme-bg.question_bd_format
			.row
				.col-md-12.next_question_scroll
					- alphabet = @index_values
					- number = alphabet.index(@question.id)
					%span{:style => "color: #534f4f;"}
						Question #{number + 1} of  #{@index_values.count}
					%br/  
					%h3
						%small
							= @question.content.html_safe rescue nil
							%hr
			.row
				- if @question	
					.col-md-12
						#explanation_container
							- @question.answers.order("id ASC").each_with_index do |ans, index|
								- attempy_option_answer = Parta::PracticeAnswer.where(question_id: @question.id, user_id: current_parta_user.id) rescue nil
								- if attempy_option_answer.present?
									- if (attempy_option_answer.last.answer_id == ans.id && ans.correct.present?)
										%p.parta_answer.attempt_question.write_answer{"data-target" => "#modaladdquestion", "data-toggle" => "modal", :href => "#"}
											%i.fa.fa-check{"aria-hidden" => "true"}
											#{ans.content}
									- elsif (attempy_option_answer.last.answer_id == ans.id && ans.correct == nil )
										%p.parta_answer.attempt_question.wrong_answer{"data-target" => "#modaladdquestion", "data-toggle" => "modal", :href => "#"}
											%i.fa.fa-times{"aria-hidden" => "true"}
											#{ans.content}
									- elsif (ans.correct.present?) 
										%p.parta_answer.attempt_question.write_answer{"data-target" => "#modaladdquestion", "data-toggle" => "modal", :href => "#"}
											%i.fa.fa-check{"aria-hidden" => "true"}
											#{ans.content}
									- else 
										%p.parta_answer.attempt_question{"data-target" => "#modaladdquestion", "data-toggle" => "modal", :href => "#"}
											#{ans.content}				
								- else
									%p.parta_answer.select_answer{:id => ans.id, :value => ans.id}
										#{ans.content}
							- @attempt_ans = Parta::PracticeAnswer.where(question_id: @question.id, user_id: current_parta_user.id)
							- if @attempt_ans.present?
								= link_to "Reset Answer", parta_category_question_practice_answer_path(@category.id, @question.id, @attempt_ans.last.answer_id), class: "join_btn btn-large trading-btn page-scroll", id: "next_question_link", data: { confirm: 'Are you sure you want to reset answer', "bootstrap-confirm": 'delete' }
							- else 					
								= form_for question, :url => "/parta/practice_answers", :html => { :multipart => true, :class => "p-20", remote: true },  method: "method" do |f|
									= f.hidden_field :answer_id, class: "form-control", value: "", id: "field1"
									= f.hidden_field :question_id, class: "form-control", value: @question.id
									= f.hidden_field :category_id, class: "form-control", value: @category.id
									= f.submit "Submit", class: "parta_answer_submit parta_answer_submit_btn", onClick: "return document.getElementById('field1').value !=''"			
			.row
				.col-md-12
					- unless @question.practice_all_penultimate?(current_parta_user, @question_type)
						= link_to "Next question", parta_category_question_practice_all_question_path(@category.id, @question.next_practice_question(current_parta_user, @question_type), position: @pos,  question_type: @question_type), class: "join_btn btn-large trading-btn page-scroll", id: "next_question_link"
						%br/
					= link_to "Previous question", 'javascript:history.back()', :class => 'join_btn skip-btn'
					= link_to "RESTART", parta_category_path(@category), :class => 'join_btn skip-btn que_answer'
					- unless @question.practice_all_penultimate?(current_parta_user, @question_type)
						= link_to "SKIP", parta_category_question_practice_all_question_path(@category.id, @question.next_practice_question(current_parta_user, @question_type), position: @pos,  question_type: @question_type), class: "join_btn btn-large skip-btn page-scroll", id: "next_question_link"	
			#modaladdquestion.modal.fade{:role => "dialog"}
				.modal-dialog
					.modal-content
						.modal-header
							%button.close{"data-dismiss" => "modal", :type => "button"} ×
							%h4.modal-title{:style => "text-align-last: center"}
						.modal-body
							%p
								/= "Question:" 
								%h4{:style => "text-align-last: center"} You have already attempt this question
						.modal-footer
							%button.btn.pop_up_close_btn.pop_up_btn{"data-dismiss" => "modal", :type => "button"} Close
- else
	%section.how-it-works.pt-done
	.container.theme-bg.question_bd_format
		.row
			.col-md-12
				#category_advice
					%h4
					%section.account-inner-sec.cat-inner-section
						.bs-example
							%span
								%h4{:style => "text-align-last: center"} Question does not exist in this  specific area
	%br/
	%br/							

- if @question						
	:javascript
		if(performance.navigation.type == 2){
		  location.reload(true);
		}
		$(".select_answer").on('click', function(){
		  var answer_id = this.id;
		  $("#field1").val(answer_id);
		  $(".select_answer").removeClass("ans_parta_active");
		  $(this).addClass('ans_parta_active');
		})
		$(document).ready(function () {
			$('html, body').animate({scrollTop: $('.next_question_scroll').offset().top - 122 }, 1000);
		})																
