:javascript
	$(document).ready(function(){
		$('ul.nav li.active').removeClass('active');
		$('li#about').addClass('active')
	})


.hero-unit#about-us
	%h1 About Us
	%p.about-us-mail-link
		= mail_to("contact@passthemrcs.co.uk")


.row-fluid
	.span8
		%h3 EduSurg
		%p
			At EduSurg we aim to combine extensive surgical experience with recent success in the MRCS. We have put together a dedicated team of consultants and surgical trainees with years of experience in the MRCS education field to produce the most useful and relevant resource available for the Part B OSCE. We believe that the best way to learn is by answering relevant questions on the topics commonly tested in the actual exam, with the answers and further information appearing in front of you as you point and click.
		%p
			By teaming up with Elsevier, Acland, Cambridge University Press and Wiley Publishing we provide all our members with free access to the excellent Acland anatomy dissection videos and offer a 20% discount on the most useful MRCS books, personally reviewed by our team.
		%p
			Our flexible site, coded by the excellent Podmedics, has been carefully designed to work intuitively and adapt to your learning style. Either chose a category and work your way through, or test yourself by taking a mock OSCE closer to the exam. PasstheMRCS is an effective tool specially designed to speed up your rate of fact acquisition, allowing you to work around your busy job to master the MRCS syllabus, and with hard work, to pass the MRCS – first time!
	.span4
		= image_tag('logo_hi.png')

%hr

.row-fluid
	.span8
		%h3 Join us
		%p
			We’re looking for people that are passionate about improving MRCS Part B revision resources and people who can represent this website to prospective MRCS Part B candidates.
		%p
			If this is you, please send an email to 
			= mail_to("contact@passthemrcs.co.uk") 
			with subject title “Join us”.
		%p
			Please tell us a little bit about yourself, including when you passed the MRCS Part B, which country you’re based in and what you would like to do with us (include any relevant experience).
		%p
			All work is remote and flexible to fit your current schedule.
%hr      
.row-fluid
	.span8
		%h3 Manoj Ramachandran
		%p
			Manoj Ramachandran is a Consultant Paediatric and Young Adult Orthopaedic and Trauma Surgeon at St Bartholomew’s and the Royal London Hospitals and Honorary Senior Lecturer at the William Harvey Research Institute.

		%p
			He qualified from King’s College School of Medicine, University of London in 1996 with a double honours degree and proxime accessit to the University of London Gold Medal. After basic surgical training on the Oxford and Hammersmith rotations, he trained as an orthopaedic registrar on the Stanmore rotation in London and undertook 3 fellowships in Sydney, Australia, Los Angeles, California, USA and the Royal National Orthopaedic Hospital, Stanmore before starting as a Consultant in 2007.
		%p
			He is the author of several books on the MRCS (https://amzn.to/L2ofHc) and ran a successful medical education course company, Advanced Medical Courses, in the early noughties. His interests are in education, innovation, entrepreneurship and research.

	.span4
		= image_tag('manoj.jpg')

%hr


.row-fluid
	.span8
		%h3 Chris Mansi
		%p
			Chris Mansi is a Neurosurgical trainee working in the National Hospital of Neurology and Neurosurgery, Queen Square, London. He graduated with a 1st class degree from Emmanuel College, Cambridge and completed his clinical training at University College London.

		%p He is the founder and director of EduSurg LTD, a company that aims to produce valuable online resources for doctors of all levels to help them make the most out of their career. He has been lucky to work with an exceptionally talented team on Pass the MRCS and hopes that it will progress from strength to strength.

		%p Outside of work he is an enthusiastic tennis, basketball, football, and rugby player, although has unfortunately never reached the heights attained by his orthopaedic colleagues. He hopes to continue to combine his interests in medical education and neurosurgery with entrepreneurship in the future.

	.span4
		= image_tag('chris.jpg')

%hr

.row-fluid
	.span8
		%h3 Scott Middleton
		%p
			Scott Middleton is an MB ChB graduate from the University of Edinburgh and is currently on the run-through orthopaedic surgery training programme in Edinburgh having ranked number 1 for his intake.
		%p
			He developed a keen interest in academia and teaching from an early stage in his career and is a reviewer for the British Medical Journal. He has over 10 publications and 25 presentations, and has been invited to write articles for the JBJS as well as setting up a popular examination course as a junior doctor for local medical students.
		%p
			In his spare time he enjoys weightlifting, skiing, shooting, motor racing and squash

	.span4
		= image_tag('scott.jpg')

%hr


.row-fluid
	.span8
		%h3 Danny Ryan
		%p
			Danny Ryan graduated from Gonville and Caius College, Cambridge and is currently an ortho-themed core surgical trainee in the Northern Deanery planning to pursue a career in orthopaedics.

		%p He is a former Great Britain international fencer gaining a Full Blue from Cambridge University, and still enjoys his time as a qualified coach and referee – an activity that has spurred on his special interest in sports injuries. He previously worked as the assistant club doctor at Cambridge Rugby Union Football Club, and spent time working at the Cappagh National Orthopaedic Hospital, Dublin, and the Rizzoli Orthopaedic Institute in Bologna.

	.span4
		= image_tag('danny.jpg')

%hr

.row-fluid
	.span8
		%h3 Nick Aresti
		%p
			Nick Aresti qualified from UCL in 2008 and undertook his foundation and core training within the London deanery. He is due to start as a T&O ST3 in NE Thames from October 2012. Having completed the MRCS in 2011 he went on to write a book alongside Manoj Ramachandran and Mark Stringer entitled 'Anatomy Vivas for the iMRCS', due to be published in September 2012. He has been made a Fellow of the Higher Education Academy in recognition of his teaching experience and obtaining a postgraduate certificate in medical education.

	.span4
		= image_tag('nick.jpg', size: "150x150", alt: "nick")

%hr

.row-fluid
	.span8
		%h3 Neil Scott
		%p
			Neil Scott is dual qualified in medicine (2009) and dentistry (2003) and aiming for a career in Oral and Maxillofacial Surgery.
		%p
			Neil has a longstanding interest in teaching that began in 2006 when he taught oral surgery to dental undergraduates. His commitment to teaching continued and in 2012 Neil was awarded an honorary lectureship at The Dental Faculty of The Royal College of Surgeons of England.
		%p
			Neil has published in peer review journals, presented nationally and received a number awards throughout his training. He is past President of the Junior Trainees’ Group of the British Association of Oral and Maxillofacial Surgeons (BAOMS), a position elected by his peers to represent all trainees below ST3 level in Oral and Maxillofacial Surgery.
		%p
			In his free time Neil enjoys cycling and is a medical officer for the British Boxing Board of Control.

	.span4
		= image_tag('neil.jpg', size: "250x250", alt: "neil")

%hr

.row-fluid
	.span8
		%h3 Ed Wallitt
		%p
			Ed Wallitt is a doctor, software engineer and director at Podmedics, a cutting-edge medical IT consultancy creating clinician-focused web, iPhone and Android applications. Currently working with a number of major London NHS trusts, as well as health startups through the UK, Podmedics is fast becoming one of the leading medically-focused IT consultancies in the UK.

		%p
			Ed and his team at Podmedics worked with the Pass The MRCS team to develop a revision tool that is easy to use and unique in the arena of medical postgraduate revision.

	.span4
		= image_tag('ed.jpg', size: "200x200", alt: "ed")

%hr

.row-fluid
	.span8
		%h3 Aadhar Sharma
		%p
			Aadhar qualified from Guy’s, King’s and St Thomas’ in 2009 including an elective in orthopaedics in Durban, South Africa.
		%p
			He undertook his foundation training in the West Midlands and core training within the Eastern deanery.  He is currently in a year of research at the Royal National Orthopaedic Hospital in Stanmore with a planned career in orthopaedic surgery.
		%p
			He developed his interests in surgery and subsequently orthopaedics and trauma at an early stage of his training and has developed a keen interest in research and the training of future surgeons.
		%p
			His portfolio comprises an increasing number of peer reviewed publications, national and international presentations and now he joins the exceptional team at Pass the MRCS which helped him to pass the exam in 2014.
		%p
			Aadhar lives in Hertfordshire and outside hospital commitments, enjoys eating out, trying to keep fit and also trying to play cricket!

	.span4
		= image_tag('aadhar.png')
%hr
.row-fluid
	.span8
		%h3 Arvind Kushwah
		%p
			Arvind completed his Master degree in Computer Applications at RGPV University and has over 6 years of experience in multiple Development languages and DevOps tooling.
		 
		%P
			Arvind and his team look after the technical aspects of Pass The MRCS. He is passionate about creating functionality that improves user experience and helps students perform better in exams.
 
	.span4
		= image_tag("arvind.jpg", size: "250x250", alt: "Arvind")






= content_for :footer do
	= render 'layouts/footer'
