<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "mock_exams", title: "Mock Exam", current_page: "Mock Exam"} %>  
<div class="content">
    <div class="panel-heading admin-pannel">
      <%= link_to "Edit Mock Exam", edit_admin_mock_exam_path(@mock_exam), class: "join_btn admin-trading-btn" %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <form class="form-horizontal">
            <div class="row">
              <div class="form-group col-sm-5" >
                <label class="col-sm-5 control-label text-muted admin_font">Id.:</label>
                <div class="form-group col-sm-6">
                  <p class="form-control-static"><%= @mock_exam.id %></p>
                </div>
              </div>
              <div class="form-group col-sm-5" >
                <label class="col-sm-5 control-label text-muted admin_font">Title:</label>
                <div class="form-group col-sm-6">
                  <p class="form-control-static"><%= @mock_exam.title %></p>
                </div>
              </div>
            </div>
            <div id="header"></div>
            <div class="row">
              <div class="form-group col-sm-12" >
                <label class="col-sm-12 control-label text-muted admin_font">Description:</label>
                <div class="form-group col-sm-12">
                  <p class="form-control-static"><%= @mock_exam.description.html_safe %></p>
                </div>
              </div>
            </div>
            <div id="header"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  
