<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "home_logo_banners", title: "Home Page Logo Banner", current_page: "Logo Banner"} %>
<div class="content">
    <div class="panel panel-white">
      <div class="panel-heading admin-pannel">
        <%= link_to "Edit Logo Banner", edit_admin_home_logo_banner_path(@home_logo_banner), class: "join_btn admin-trading-btn" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Id.:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @home_logo_banner.id %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Title:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @home_logo_banner.first_title %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-12" >
                  <label class="col-sm-12 control-label text-muted admin_font">Description:</label>
                  <div class="form-group col-sm-12">
                    <p class="form-control-static"><%= @home_logo_banner.description.html_safe %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Updated at:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@home_logo_banner.updated_at.strftime("%d-%m-%Y") %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-5 control-label text-muted admin_font">Logo File Name:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@home_logo_banner.logo_file_name %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Logo Updated at:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@home_logo_banner.logo_updated_at.strftime("%d-%m-%Y") rescue nil %></p>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-5 control-label text-muted admin_font">Banner File Name:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%=@home_logo_banner.banner_file_name %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
               <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Logo:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%#= image_tag @home_logo_banner.logo.url, size: "40x40"%>
                    <%= link_to image_tag(@home_logo_banner.logo.url, alt: "Facebook", size: "40x40"), @home_logo_banner.logo.url, target: :_blank rescue nil %></p>

                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-5 control-label text-muted admin_font">Banner:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%#= image_tag @home_logo_banner.banner.url, size: "40x40"%>
                      <%= link_to image_tag(@home_logo_banner.banner.url, alt: "Facebook", size: "40x40"), @home_logo_banner.banner.url, target: :_blank rescue nil %>
                    </p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>  
