<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "cookie_policies", title: "Cookie Policies", current_page: "Edit Cookie Policies"} %>
<%= form_for(@cookie_policy, as: @cookie_policy, url: admin_cookie_policy_path(@cookie_policy.id), html: { method: :put, :class => "p-20" }) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">Edit Cookie Policies</h4>
        </div>
        <div class="panel-body">
          <div class="row">  
            <div class="form-group col-sm-6">
              <label for="reg_input_name" class="req"> Title</label>
              <%=f.text_field :title, :class=>"form-control" %>
              <div class = "error error_msg"><%= @cookie_policy.errors.messages[:title][0] %></div>
            </div>
          </div> 
          <div class="row">  
            <div class="form-group col-sm-12">
              <label for="reg_input_name" class="req">Description</label>
              <%=f.text_area :description, :class => "form-control", id: "editor" ,:required=>'required'  %>
              <div class = "error error_msg"><%= @cookie_policy.errors.messages[:description][0] %></div>
            </div>
          </div> 
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= link_to "Cancel", :back, {:class=>"btn join_btn admin-submit-btn"} %>
              <%= f.submit "Submit", :class=>"btn join_btn admin-submit-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<% end %>

<script>
  CKEDITOR.replace('editor', {
    height: 250,
    extraPlugins: 'colorbutton,colordialog'
  });
</script>          