<%@questions.each_with_index do |x,index|%>
  <tr>
    <td width="5%"><%=index+1%></td>
    <td width="25%"><%= link_to x.content.html_safe, admin_parta_question_path(x.id) %></td>
    <td width="10%"><%= x.position %></td>
    <td width="20%"><%= x.parta_category.try(:name) %></td>
    <td width="10%"><%= truncate(x.answer_text, length:25, :escape => false) %></td>
    <td width="10%"> 
      <%if x.content.present?%>
        <%=link_to admin_parta_question_path(x.id) do%>
          <span class="glyphicon glyphicon-eye-open"></span>
        <%end%>
        <%= link_to edit_admin_parta_question_path(x.id) do|| %>
          <span class="glyphicon glyphicon-pencil" style="color:#1ab394"></span>
        <% end %>
        <%= link_to admin_parta_question_path(x.id), data: { confirm: 'Are you sure you want to delete question ', "bootstrap-confirm": 'delete' }, method: :delete do|| %>
         <span class="glyphicon glyphicon-trash" style="color:red"></span>
        <% end %>
      <%end%>
    </td>
  </tr>
<%end%>
