<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "user_interested_coching_emails", title: "User interested coching Emails", current_page: "User interested coching Emails"} %>
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="grid-view table-responsive" id="student-grid">
        <table class="items">
          <thead>
            <tr>
              <th id="student-grid_c0"><%= sortable "id" %></th>
              <th id="student-grid_c2"><%= sortable "subject" %></th>
              <th id="student-grid_c2"><%= sortable "description" %></th>
              <th class="button-column" id="student-grid_c7">Action</th>
            </tr>
          </thead>
          <tbody class="hole-list">
            <%@user_interested_coching_emails.each_with_index do |x,index|%>
                <tr>
                  <td width="5%"><%= x.id %></td>
                  <td width="20%"><%= x.subject %></td>
                  <td width="20%"><%= raw x.description.truncate(200) if x.description.present? %></td>
                  <td width="5%"> 
                    <%=link_to admin_user_interested_coching_email_path(x) do%>
                      <span class="glyphicon glyphicon-eye-open"></span>
                    <%end%>
                    <%= link_to edit_admin_user_interested_coching_email_path(x) do|| %>
                      <span class="glyphicon glyphicon-pencil" style="color:#1ab394"></span>
                    <% end %>
                  </td>
                </tr>
              <%end%>
          </tbody>
        </table>
        <%if @user_interested_coching_emails.present?%>
          <%= render partial: "admin/paginations/pagination", locals: {all_data: @user_interested_coching_emails} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
