<%= form_for @mock_exam_text, :url => url, :html => { :multipart => true, :class => "p-20" },  method: method do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">Mock Exam Text</h4>
        </div>
        <div class="panel-body">
          <div class="row">  
            <div class="form-group col-sm-12">
              <label for="reg_input_name" class="req">Title</label>
              <%=f.text_area :title, :class=>"form-control", :placeholder => "Enter Title", id: "editor_title" %>
              <div class = "error error_msg"><%= @mock_exam_text.errors.messages[:title][0] %></div>
            </div>
          </div> 
          <div class="row">  
            <div class="form-group col-sm-12">
              <label for="reg_input_name" class="req">Description</label>
              <%=f.text_area :description, :class => "form-control", id: "editor", :placeholder => "Enter Description"  %>
              <div class = "error error_msg"><%= @mock_exam_text.errors.messages[:description][0] %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= f.submit "Save", :class=>"btn join_btn admin-submit-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  CKEDITOR.replace('editor', {
    height: 250,
    extraPlugins: 'colorbutton,colordialog'
  });
  CKEDITOR.replace('editor_title', {
    height: 250,
    extraPlugins: 'colorbutton,colordialog'
  });
</script>
