<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "mock_exam_texts", title: "Mock Exam Text", current_page: "View Mock Exam Text"} %>  
<div class="content">
    <div class="panel panel-white">
      <div class="panel-heading admin-pannel">
        <%= link_to "Edit Mock Exam Text", edit_admin_mock_exam_text_path(@mock_exam_text.id), class: "join_btn admin-trading-btn" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="row">
                <div class="form-group col-sm-5" >
                  <label class="col-sm-5 control-label text-muted admin_font">Id.:</label>
                  <div class="form-group col-sm-6">
                    <p class="form-control-static"><%= @mock_exam_text.id rescue nil %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">  
                <div class="form-group col-sm-12" >
                  <label class="col-sm-12 control-label text-muted admin_font">Title:</label>
                  <div class="form-group col-sm-12">
                    <p class="form-control-static"><%= @mock_exam_text.title.html_safe rescue nil%></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
              <div class="row">
                <div class="form-group col-sm-12" >
                  <label class="col-sm-12 control-label text-muted admin_font">Description:</label>
                  <div class="form-group col-sm-12">
                    <p class="form-control-static"><%= @mock_exam_text.description.html_safe rescue nil %></p>
                  </div>
                </div>
              </div>
              <div id="header"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>  
