<h2 class="survey-title">
  <%= @survey.name %>
  <p><small><%= @attempt.survey.description %></small></p>
</h2>
<%= form_for(@attempt, url: attempt_scope(@attempt)) do |f| %>
  <%= hidden_field_tag :survey_id, @survey.id %>
  <ol class="questions">
    <%= f.fields_for :answers, get_answer_fields(@attempt) do |answer_fields| %>
      <li>
        <% question = answer_fields.object.question %>
        <p class="question"><%= question.text %></p>
        <ul class="options">
          <% question.options.each do |option| %>
          <%= hidden_field_tag "option_id[]", nil , :value => option.id %>
          <input type="radio" value=<%= option.id %> name="question_<%= option.id %>"  autocomplete="off">
            <%= option.text %><br>
          <% end %>
        </ul>
      </li>
    <% end -%>
  </ol>
  <%= f.submit "Submit", class: 'btn btn-default' %>
<% end -%>
