<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "users", title: "Users", current_page: "View User"} %>  
<div class="content">
  <div class="panel panel-white">
      <div class="panel-heading admin-pannel">
        <%= link_to "Edit User", edit_admin_user_path(@user), class: "join_btn admin-trading-btn" %>
        <%= link_to "Delete User", admin_user_path(@user), data: { confirm: 'Are you sure you want to delete this user', "bootstrap-confirm": 'delete' }, method: :delete, class: "join_btn admin-trading-btn" %>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-sm-12">
                  <form class="form-horizontal">
                      <div class="row">
                          <div class="form-group col-sm-5" >
                              <label class="col-sm-5 control-label text-muted admin_font">Name.:</label>
                              <div class="form-group col-sm-6">
                                  <p class="form-control-static"><%= @user.name %></p>
                              </div>
                          </div>
                          <div class="form-group col-sm-5" >
                              <label class="col-sm-5 control-label text-muted admin_font">Email:</label>
                              <div class="form-group col-sm-6">
                                  <p class="form-control-static"><%= @user.email %></p>
                              </div>
                          </div>
                      </div>
                      <div id="header"></div>
                      <div class="row">
                          <div class="form-group col-sm-5" >
                             
                              <label class="col-sm-5 control-label text-muted admin_font">Membership:</label>
                            <div class="form-group col-sm-6">
                                <p class="form-control-static">
                                  <%= link_to @user.membership.try(:name), admin_membership_path(@user.membership.id) rescue nil%>
                                  </p>
                            </div>
                          </div>
                          <div class="form-group col-sm-5">
                              <label class="col-sm-5 control-label text-muted admin_font">Target Exam Date:</label>
                              <div class="form-group col-sm-6">
                                  <p class="form-control-static"><%= @user.target_exam_date.strftime("%d-%m-%Y") rescue nil %></p>
                              </div>
                          </div>
                      </div>
                      <div id="header"></div>
                      <div class="row">

                          <div class="form-group col-sm-5">
                              <label class="col-sm-5 control-label text-muted admin_font">Country:</label>
                              <div class="form-group col-sm-6">
                                  <p class="form-control-static"><%= @user.country_name rescue nil %></p>
                              </div>
                          </div>
                          <div class="form-group col-sm-5" >
                              <label class="col-sm-5 control-label text-muted admin_font">Referred By:</label>
                              <div class="form-group col-sm-6">
                                  <p class="form-control-static"><%= @user.referred_by %></p>
                              </div>
                          </div>
                        </div>
                        <div id="header"></div>
                         <div class="row">
                          <div class="form-group col-sm-5" >
                              <label class="col-sm-5 control-label text-muted admin_font">Coupon Name:</label>
                              <div class="form-group col-sm-6">
                                  <p class="form-control-static"><%= @user.coupon_name %></p>
                              </div>
                          </div>

                            <div class="form-group col-sm-5" >
                              <label class="col-sm-5 control-label text-muted admin_font">Sent Exam Reminder:</label>
                              <div class="form-group col-sm-6">
                                  <p class="form-control-static"><%= @user.sent_exam_reminder %></p>
                              </div>
                          </div>

                        </div>
                      <div id="header"></div>
                      <div class="row">
                        <div class="form-group col-sm-5">
                            <label class="col-sm-5 control-label text-muted admin_font">Created Date:</label>
                            <div class="form-group col-sm-6">
                                <p class="form-control-static"><%= @user.created_at.strftime("%d-%m-%Y") rescue nil %></p>
                            </div>
                        </div>
                        <div class="form-group col-sm-5">
                            <label class="col-sm-5 control-label text-muted admin_font">Update At:</label>
                            <div class="form-group col-sm-6">
                                <p class="form-control-static"><%= @user.updated_at.strftime("%d-%m-%Y") rescue nil %><td width="20%"></td></p>
                            </div>
                        </div>
                      </div>
                      <div id="header"></div>
                      <div class="row">
                        <div class="form-group col-sm-5">
                           <label class="col-sm-5 control-label text-muted admin_font">Subscribed On:</label>
                              <div class="form-group col-sm-6">
                                  <p class="form-control-static"><%= @user.subscribed_on.strftime("%d-%m-%Y") rescue nil %></p>
                              </div>

                        </div>
                        <div class="form-group col-sm-5" >
                          <label class="col-sm-5 control-label text-muted admin_font"></label>
                          <div class="form-group col-sm-6">
                              <p class="form-control-static"><%#= @user.referred_by %></p>
                          </div>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<%= render partial: "comments/comments", locals: {commentable: @user} %>
<%= render partial: "comments/form", locals: {commentable: @user} %>  
