<%= render partial: "admin/breadcrumbs/breadcrumb", locals: {path: "coupons", title: "Coupons", current_page: "View Coupon"} %>  
<div class="content">
  <div class="panel panel-white">
    <div class="panel-heading admin-pannel">
      <%= link_to "Edit Coupon", edit_admin_coupon_path(@coupon.id), class: "join_btn admin-trading-btn" %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <form class="form-horizontal">
            <div class="row">
              <div class="form-group col-sm-5" >
                <label class="col-sm-5 control-label text-muted admin_font">Id.:</label>
                <div class="form-group col-sm-6">
                  <p class="form-control-static"><%= @coupon.id %></p>
                </div>
              </div>
              <div class="form-group col-sm-5" >
                <label class="col-sm-5 control-label text-muted admin_font">Name:</label>
                <div class="form-group col-sm-6">
                  <p class="form-control-static"><%= @coupon.name %></p>
                </div>
              </div>
            </div>
            <div id="header"></div>
            <div class="row">
              <div class="form-group col-sm-5" >
                <label class="col-sm-5 control-label text-muted admin_font">Discount:</label>
                <div class="form-group col-sm-6">
                  <p class="form-control-static"><%= @coupon.discount %></p>
                </div>
              </div>
              <div class="form-group col-sm-5" >
                <label class="col-sm-5 control-label text-muted admin_font">Uses:</label>
                <div class="form-group col-sm-6">
                  <p class="form-control-static"><%= @coupon.uses %></p>
                </div>
              </div>
            </div>
            <div id="header"></div>
            <div class="row">
              <div class="form-group col-sm-5">
                <label class="col-sm-5 control-label text-muted admin_font">Created At:</label>
                <div class="form-group col-sm-6">
                  <p class="form-control-static"><%=@coupon.created_at.strftime("%d-%m-%Y") rescue nil %></p>
                </div>
              </div>
              <div class="form-group col-sm-5" >
                <label class="col-sm-5 control-label text-muted admin_font">Updated At:</label>
                <div class="form-group col-sm-6">
                  <p class="form-control-static"><%=@coupon.updated_at.strftime("%d-%m-%Y") rescue nil %></p>
                </div>
              </div>
            </div>
            <div id="header"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  
